<div class="vehicleReviews">
  <h2><%=vehicle.title%> Reviews</h2>
  <ul>
    <li><%=vehicle.reviews[0]%></li>
    <li><%=vehicle.reviews[1]%></li>
    <li><%=vehicle.reviews[2]%></li>
    <li><%=vehicle.reviews[3]%></li>
    <li><%=vehicle.reviews[4]%></li>
  </ul>
</div>